---
layout: default
---

<div class="well">
    <div class="well">
        <div class="row">
            <div style="float:left" class="col-md-8 col-sm-6">
                <h4 class="home-subtitle">About {{site.author}}</h4>
                <table class="table table-responsive">
                    <tr><td><b>Email:</b></td><td>Jay.A.K.Coughlan@gmail.com</h4></td></tr>
                    <tr><td><b>Skills:</b></td><td>Programming, Game Design, C#, C++, Java</h4></td></tr>
                    <tr><td><b>Education:</b></td><td>
                        <ul><li>Vancouver Film School (Game Design)</li>
                        <li> BCIT (Computer Systems Technology)</li></ul>
                        </h4></td></tr>
                    <tr><td><b>Interests:</b></td><td>Dragons, video games, tea, fantasy novels, fantasy novels about dragons, Pokémon, writing, dungeons and dragons, and not being killed by dragons in dungeons and dragons.</h4></td></tr>
                </table>
            </div>
            <img style="float:right" class="col-md-4 img-responsive" src = "/static/img/ProfilePic.png"></img>
        </div>
    </div>
    <div style="clear:both"><br></div>
    <div>
        {{content}}
    </div>

</div>

<!--
    <td><h4><i class="fa fa-envelope"></i></td>
    <td><h4><i class="fa fa-tasks"></i></td>
    <td><h4><i class="fa fa-graduation-cap"></i></td>
    <td><h4><i class="fa fa-gamepad"></i></td>
-->